.env
helm/ezclaw/botfiles/*
!helm/ezclaw/botfiles/.gitkeep
!helm/ezclaw/botfiles/tools/
!helm/ezclaw/botfiles/docs/
helm/ezclaw/botfiles/tools/*
helm/ezclaw/botfiles/docs/*
!helm/ezclaw/botfiles/tools/.gitkeep
!helm/ezclaw/botfiles/docs/.gitkeep
